<a href="https://colab.research.google.com/github/Prabhakar-bonela/Data-Science/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# import pyspark
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.appName("AppUsingSparkSession") .master("local[*]") .getOrCreate()
# print(spark)

<pyspark.sql.session.SparkSession object at 0x7f352a559e70>

In [ ]:

# Access SparkContext from the SparkSession
# sc = spark.sparkContext

# # Check the number of available cores
# num_cores = sc.defaultParallelism
# print(f"Number of available cores: {num_cores}")

# # Check if any specific configuration for executor cores is set
# executor_cores = spark.conf.get("spark.executor.cores", "Not set")
# print(f"Number of cores per executor: {executor_cores}")

Number of available cores: 2
Number of cores per executor: Not set

In [ ]:
# creating RDD
# 3 one by parlleisze from the dataset
# 2. by loading from local storage
import pyspark

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Creating RDD").getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7849954de800>

In [ ]:
sc=spark.sparkContext.getOrCreate()
print(sc)

<SparkContext master=local[*] appName=Creating RDD>

In [ ]:
data=[1,2,3,4,5,6,7,8,9,10]
rdd=sc.parallelize(data,4)# here 4 is the partion we need and by default it is 2
rdd.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
rdd.getNumPartitions()
# gives the partitions

4

In [ ]:
"""#glom gives the rddd in the partition mode the we cna collect to get the last parition we will get
# getting last parition
rdd.glom().collect()[3]# gives the"""

[7, 8, 9, 10]

In [ ]:
# Feature                       	RDD	                                    DataFrame
# Default Partitions	Determined by sc.defaultParallelism.	        Based on the underlying RDD or input source.
# Control Partitions	Use sc.parallelize(data, numPartitions).	    Use .repartition(numPartitions) or .coalesce().
# Inherit Partitions	Explicitly specified when creating the RDD.	  Inherits from RDD if created from one.

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("hi").getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f6854b14610>

In [ ]:
sc=spark.sparkContext.getOrCreate()
rdd=sc.parallelize([1,2,3,4,5])
l=rdd.collect()
# rdd.distinct()
# rdd.count()
# rdd_map=map(str,rdd)
l1=[]
for i in l:
  print(i*2)
  l1.append(i*3)
print(l1)

2
4
6
8
10
[3, 6, 9, 12, 15]

In [ ]:
l = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]
l1 = list(map(lambda x, y: x * y, l, l2))
print(l1)  # Output: [10, 40, 90, 160, 250]

[10, 40, 90, 160, 250]

In [ ]:
sc=spark.sparkContext.getOrCreate()
rdd=sc.parallelize([1,2,3,4,5])
rdd_filter=rdd.filter(lambda x:x%2==0)
rdd_filter.collect()

PythonRDD[28] at collect at <ipython-input-42-1a8165f08ac7>:4

In [ ]:
#map keep send a fuction as for each indvidual element(map(str,i))
#divides as many partions[[1],[2],[3]]
#flapmap makies nested list into single list[1,2,3]

In [ ]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("WordCountExample").getOrCreate()

# Sample input sentence
input_sentence = "This is a sample sentence with some sample words and words repeat."

# Create an RDD from the sentence
rdd = spark.sparkContext.parallelize([input_sentence])

# Step 1: Split sentence into words using flatMap
words_rdd = rdd.flatMap(lambda sentence: sentence.split())

# Step 2: Create a key-value pair where key is word and value is 1
word_pairs = words_rdd.map(lambda word: (word.lower(), 1))

# Step 3: Reduce by key to count the occurrences of each word
word_count = word_pairs.reduceByKey(lambda a, b: a + b)

# Collect the result and print
result = word_count.collect()
for word, count in result:
    print(f"{word}: {count}")

this: 1
is: 1
a: 1
sample: 2
sentence: 1
with: 1
some: 1
words: 2
and: 1
repeat.: 1

In [11]:
#Df

In [45]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.types as T
import pyspark.sql.functions as F
spark=SparkSession .builder.appName("DF").getOrCreate()
data=[(1,"Parbhakar",True,1.00),(2,"chinni",False,10.00)]
schema = T.StructType([
    T.StructField("id", T.IntegerType(), True),
    T.StructField("Name", T.StringType(), True),
    T.StructField("bool", T.BooleanType(), True),
    T.StructField("amount", T.FloatType(), True)
])
# schema=T.StructType([T.StructField("id",T.IntegerType,True),
#                      T.StructField("Name",T.StringType,True),
#                      T.StructField("bool",T.Boolean,True),
#                      T.StructField("amount",T.FloatType,True)]
#
df = spark.createDataFrame(data,schema)
#df=spark.createDataFrame(data,schema)
df.show()

if not spark.catalog.tableExists("df_basic_details"):  # Check if view exists
    df.createOrReplaceTempView("df_basic_details")

# Construct the SQL query with corrected column names and semicolons
sql_query = "SELECT Name, id, Amount FROM df_basic_details;"

# Execute the SQL query on the SparkSession and create a new DataFrame `df3`
df3 = df.spark.sql(sql_query)

# Show the newly created DataFrame `df3` containing the results
df3.show()

+---+---------+-----+------+
| id|     Name| bool|amount|
+---+---------+-----+------+
|  1|Parbhakar| true|   1.0|
|  2|   chinni|false|  10.0|
+---+---------+-----+------+

AttributeError: 'DataFrame' object has no attribute 'spark'

In [29]:
#df1=df.repartition(3)

In [37]:
print(df1)

3

In [46]:
# # SparkSQL
# df.createOrReplaceTempView("df_basic_details")
# sql_query="select Name ,id,Amount from df_basic_details;"
# df2=df.spark.sql(sql_query)
# df2.show()


import pyspark
from pyspark.sql import SparkSession

# Assuming you have the DataFrame `df` from previous code

# Create or replace a temporary view named "df_
if not spark.catalog.tableExists("df_basic_details"):  # Check if view exists
    df.createOrReplaceTempView("df_basic_details")

# Construct the SQL query with corrected column names and semicolons
sql_query = "SELECT Name, id, Amount FROM df_basic_details;"

# Execute the SQL query on the SparkSession and create a new DataFrame `df3`
df3 = df.spark.sql(sql_query)

# Show the newly created DataFrame `df3` containing the results
df3.show()

AttributeError: 'DataFrame' object has no attribute 'spark'

In [ ]:
# for UDF we need do same cretae same Temp and the do the df.spark.register and then use the Sql query